[submodule "src/roselito_agent"]
	path = src/roselito_agent
	url = git@github.com-henrique:seiberthenrique/roselito_agent.git
[submodule "src/roselito_description"]
	path = src/roselito_description
	url = git@github.com-henrique:ros2amr/roselito_description.git
[submodule "src/roselito_gazebo"]
	path = src/roselito_gazebo
	url = git@github.com-henrique:ros2amr/roselito_gazebo.git
[submodule "src/roselito_gui"]
	path = src/roselito_gui
	url = git@github.com-henrique:ros2amr/roselito_gui.git
[submodule "src/roselito_navigation"]
	path = src/roselito_navigation
	url = git@github.com-henrique:ros2amr/roselito_navigation.git
[submodule "src/roselito_commons"]
	path = src/roselito_commons
	url = git@github.com-henrique:ros2amr/ros_commons.git
